/* --> HOME <-- */

//imports
@import '../colors/colors';

div.wrapContentHome{
    div.wrapLogo{
        img.App-logo {
            animation: App-logo-spin infinite 20s linear;
            height: 50vmin;
            pointer-events: none;
        }
    }
    h1{
        letter-spacing: .65px;
        font-weight: bold;
        font-size: 3.5rem;
        color: $purpleBackGround;

        &:hover{
            color: $orangeBackGround;
        }
    }
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

